pandas
langchain
langchain-groq
python-dotenv
openpyxl
langchain-community
pandas
streamlit
transformers[torch]
scikit-learn
plotly
accelerate
pydantic
XlsxWriter
fastapi 
uvicorn[standard] 
python-dotenv